.wrapper {
    margin-top: 21px;
}

// .linkWrapper {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.linkBack {

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    align-items: center;
    display: flex;

}

span {
    margin-left: 15px;
}